<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<style>
  img {
    width: 200px;
  }
</style>
</head>
<body>
  <form action="kosar">
    <table>
<tr>
<td>
  <img src="termek1.jpg" alt="">
  <input type="radio" name="termek" value="termek1">

</td>
<td>

  <img src="termek2.jpg" alt="">
<input type="radio" name="termek" value="termek2">
</td>
<td>

  <img src="termek3.jpg" alt="">
<input type="radio" name="termek" value="termek3">
</td>
<tr>

  <input type="submit">
</tr>
</tr>
</table>
  </form>
</body>
</html>
